[Unit]
Description=NetDEF FRR Topotest Results Statistics Tool Server
Wants=network-online.target
StartLimitInterval=300
StartLimitBurst=5

[Service]
Type=simple
User=topostat
Group=topostat
WorkingDirectory=/home/topostat/
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/env python3 /usr/local/lib/topostat/server.py

[Install]
WantedBy=multi-user.target
